@{
    ViewData["Title"] = "Home Page";
}
<h1 class="display-3">Bienvenidos a Revision Tecnica del Pacifico</h1>
<br />
<br />
<br />
<br />
<h4>Por favor elije el dia y detalles de su cita y nosotros le enviamos el diagnostico a seguir</h4>

