@model Examen_1_B43383.Models.Cita

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Cita</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Placa" class="control-label"></label>
                <input asp-for="Placa" class="form-control" />
                <span asp-validation-for="Placa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cedula" class="control-label"></label>
                <input asp-for="Cedula" class="form-control" />
                <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreCompleto" class="control-label"></label>
                <input asp-for="NombreCompleto" class="form-control" />
                <span asp-validation-for="NombreCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoRevision" class="control-label"></label>

                <select asp-for="TipoRevision" class="form-control">
                    <option selected="selected" value="Basica">Basica</option>
                    <option value="Estandar">Estandar</option>
                    <option value="Full">Full</option>
                </select>

                <span asp-validation-for="TipoRevision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaHoraRevision" class="control-label"></label>
                <input asp-for="FechaHoraRevision" class="form-control" />
                <span asp-validation-for="FechaHoraRevision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>

                <select asp-for="Estado" class="form-control">
                    <option selected="selected" value="S">Sin atender</option>
                    <option value="A">Atendido</option>
                </select>

                <span asp-validation-for="Estado" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary mt-3" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home" class="btn btn-secondary mt-3">Regresar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
