@model AppBibliotecaWebG1.Models.Usuario
@{
    ViewData["Title"] = "CrearCuenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <form asp-controller="Usuarios" asp-action="CrearCuenta" class="Formularios">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                 <h1>CrearCuenta</h1>

                 @*Se valida si la variable temporal mensaje tiene datos*@
                @if (TempData["mensaje"] != null)
                {
                    @*se muestra un alert con el mensaje de error*@
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Error!</strong> @TempData["Mensaje"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }

                @*Solicitud del email*@
                <div class="form-group">
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" class="form-control" placeholder="jose@domain.com" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                @*Solicitud del nombre del usuario*@
                <div class="form-group">
                    <label asp-for="NombreCompleto" class="form-label">Nombre Completo</label>
                    <input asp-for="NombreCompleto" class="form-control" placeholder="Nombre Apellidos" />
                    <span asp-validation-for="NombreCompleto" class="text-danger"></span>

                </div>

                @*Boton encargado de ejecutar el post del formulario*@
                <div class="form-group">
                    <div class="col-auto mt-3">
                        <input type="submit" value="Aceptar" class="btn btn-primary" />
                    </div>
                    
                </div>

            </form>
        </div>

        <div class="col-sm-4">
        </div>
    </div>

</div>
