@model Examen_1_B43383.Models.Usuario
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Inicio de sesion</h1>
<div>
    <div class="row">
        <div class="col-sm-4"></div>

        <div class="col-sm-4">
            <form asp-action="Login" asp-controller="Usuarios" id="FormularioLogin">
                @if (TempData["Mensaje"] != null)
                {
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Error!</strong> @TempData["Mensaje"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
                    </div>
                }

                <div class="form-group">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input asp-for="Email" class="form-control" placeholder="jose@AppDomain.com" />
                    <span asp-validation-for="Email" class="text-danger"></span>

                </div>
                <div class="form-group
                    <label asp-for="Password" class="form-label">Password</label>
                    <input asp-for="Password" class="form-control" placeholder="********"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                 </div>

                <div class="form-group">
                    <div class="col-auto">
                        <input type="submit" value="Aceptar" class="btn btn-primary mt-3" />
                    </div>

                </div>

            </form>

        </div>

        <div class="col-sm-4"></div>

    </div>
</div>

