<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<connectionStrings>
	<add name="StringConexion"
		 connectionString="Server=WHR_LTP_DLL\SQLEXPRESS;DataBase=PUNTOVENTASG1;User id=sa;Password=Ucr2024;TrustServerCertificate=True"/>
</connectionStrings>
</configuration>